/* Общий стиль */
body {
  background-color: #111;
  color: #0f0;
  font-family: monospace;
  padding: 20px;
  margin: 0;
}

h1, h2 {
  color: #0f0;
  border-bottom: 1px solid #0f0;
  padding-bottom: 4px;
}

section {
  margin-bottom: 25px;
  padding: 10px;
  border: 1px solid #0f0;
  border-radius: 10px;
}

input, select, button {
  padding: 6px 10px;
  margin: 5px 0;
  background: #222;
  color: #0f0;
  border: 1px solid #0f0;
  border-radius: 6px;
}

input::placeholder, select {
  color: #aaa;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 5px 0;
  padding: 6px;
  background: #222;
  border-left: 4px solid #0f0;
  border-radius: 5px;
}

button {
  cursor: pointer;
}

button:hover {
  background-color: #0f0;
  color: #000;
}

.rule {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

/* Метки */
.tags {
  margin-top: 10px;
}

.tags label {
  display: inline-block;
  margin-right: 15px;
  font-size: 14px;
}

.tag-checkbox {
  margin-right: 4px;
}

/* Цвета по статусу */
.green { color: #0f0; }
.red { color: #f00; }
.yellow { color: #ff0; }

canvas {
  background: #222;
  border: 1px solid #0f0;
  border-radius: 5px;
}